@font-face {
    font-family: 'KarlaRegular';
    src: url('../fonts/Karla-Regular-webfont.eot');
    src: url('../fonts/Karla-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Karla-Regular-webfont.woff') format('woff'),
         url('../fonts/Karla-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Karla-Regular-webfont.svg#KarlaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KarlaBold';
    src: url('../fonts/Karla-Bold-webfont.eot');
    src: url('../fonts/Karla-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Karla-Bold-webfont.woff') format('woff'),
         url('../fonts/Karla-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Karla-Bold-webfont.svg#KarlaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* CSS Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

body {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.8em;
	background: url(../img/main-bg.png) repeat 0 0;
	min-width: 960px;
}

a,a:visited{color:#ec733e;text-decoration:none}
a:hover,a:active{color:#b34312;text-decoration:none}
a img{border:none}

p{
	margin-bottom: 20px;
}
p.nospace {
	margin-bottom: 0;
}

.pseperate {
	width: 100%;
	height: 20px;
}

p.justify {
	text-align: justify;
}



::selection, ::-moz-selection, ::-webkit-selection {
	background:#fbe3d9;
}


.clear {
	clear: both;
}

h1,h2,h3,h4 {
	margin-bottom: 5px;
	font-family: 'KarlaRegular', sans-serif;
	font-weight: normal;
}
h1{
	
	font-size:30px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'ColaborateThinRegular', sans-serif;
	background: url(../img/hr-seperate.png) no-repeat left bottom;
	
}
h2 {
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #ec733e;
}
h4 {
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #333f;
	margin-bottom: 5px;
}

ul.bullets {
	margin-bottom: 20px;
}
ul.bullets li {
	background: url(../img/bullet_black.png) no-repeat 0 4px;
	margin-bottom: 7px;
	padding-left: 25px;
}


h1.imgTitle {
	width: 920px;
	height: 42px;
	color: #fff;
	margin: 20px auto;
	padding-bottom: 0;
	padding-top: 158px;
	text-shadow: #000 1px 1px 0;
	font-family: 'ColaborateThinRegular', sans-serif;
}
h1.imgTitle.plans {
	background: url(../img/banner-hosting.png) no-repeat 0 0;
}
h1.imgTitle.features {
	background: url(../img/banner-features.png) no-repeat 0 0;
}
h1.imgTitle.minecraft {
	background: url(../img/banner-minecraft.png) no-repeat 0 0;
}
h1.imgTitle.dedicated {
	background: url(../img/banner-dedicated.png) no-repeat 0 0;
}
h1.imgTitle.shared {
	background: url(../img/banner-shared.png) no-repeat 0 0;
}
h1.imgTitle.cubeworld {
	background: url(../img/banner-cubeworld.png) no-repeat 0 0;
}



h1.txtTitle {
	width: 920px;
	color: #000;
	text-shadow: #fff 1px 1px 0;
	font-family: 'ColaborateThinRegular', sans-serif;
	margin: 25px auto 20px auto;
	padding: 0;
	background: none;
}


h2.icon {
	padding-left: 40px;
	padding: 5px 0 5px 40px;
	color: #000;
}
h2.icon.network {
	background: url(../img/icons/network.png) no-repeat 0 0;
}
h2.icon.disc {
	background: url(../img/icons/cd_dvd.png) no-repeat 0 0;
}
h2.icon.graph {
	background: url(../img/icons/pie-chart_graph.png) no-repeat 0 0;
}
h2.icon.computer {
	background: url(../img/icons/computer.png) no-repeat 0 0;
}
h2.icon.cart {
	background: url(../img/icons/shopping_cart.png) no-repeat 0 0;
}
h2.icon.thumbup {
	background: url(../img/icons/thumbup.png) no-repeat 0 0;
}
h2.icon.options {
	background: url(../img/icons/options.png) no-repeat 0 0;
}
h2.icon.lamp {
	background: url(../img/icons/lamp_active.png) no-repeat 0 0;
}
h2.icon.tag {
	background: url(../img/icons/tag_yellow.png) no-repeat 0 0;
}


h3 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	margin: 25px 0 0 0;
	padding: 0 0 25px 0;
	background: url(../img/hr-seperate.png) no-repeat 0 0;
}
hr.last {
	padding-bottom: 0;
}
hr.nospace {
	padding-bottom: 0;
	margin-top:0;
}
hr.notop {
	margin-top: 0;
}

p.smallCenter {
	color: #999;
	font-size: 11px;
	text-align: center;
	margin-bottom: 0;
	margin: 10px 0;
	font-style: italic;
}

#header {
	background: url(../img/topBar-back.png) repeat-x 0 0;
	width: 100%;
	height: 150px;
}
#headerContainer {
	width: 920px;
	height: 146px;
	margin: 0 auto;
	padding: 4px 20px 0 20px;
	
}
#header .login {
	width: 154px;
	height: 34px;
	float: right;
	font-size: 11px;
	text-transform: uppercase;
	text-shadow: #0b0b0b 1px 1px 0;
	text-align: center;
	
}
#header .login a {
	width: 150px;
	height: 30px;
	background: url(../img/topBar-login.png) no-repeat 0 0;
	float: right;
	padding: 4px 2px;
	color: #fff;
	text-decoration: none;
	position: relative;
	left: -2px;
}
#header .login a:hover {
	color: #eee;
	text-decoration: none;
}
#header #logo {
	float: left;
}

#header #logo a {
	text-indent:-9999px;
	width: 400px;
	height: 55px;
	display: block;
	top: 45px;
	position: relative;
	background: url(../img/logo-main.png) no-repeat 0 0;
}

#nav{background:url(../img/nav-back.png) repeat-x 0 0;height:60px;padding-top:5px;width:100%}
#navContainer{height:60px;margin:0 auto;padding:0 20px;width:920px}
#nav ul{background:url(../img/nav-seperate.png) no-repeat 10px 8px;height:59px;left:30px;margin-top:1px;padding-left:10px;position:relative;width:908px}
#nav li{background:url(../img/nav-seperate.png) no-repeat right 8px;float:left;font-size:16px;height:59px;text-transform:uppercase;position: relative;}
#nav a,#nav a:active{color:#fff;float:left;padding:18px 25px;text-shadow:#9a3a12 1px 1px 0}
#nav a:hover,#nav li.active a{background:url(../img/nav-hover.png) repeat 0 0}

#nav li ul{-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;background:url(../img/subnav-back.png) repeat 0 0;border:1px solid #94370f;border-bottom:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;display:none;height:auto;left:-1px;margin-top:0;padding-left:0;position:absolute;top:58px;width:100%;z-index:100}
#nav li ul li{background:url(../img/nav-back.png) repeat-x 0 -7px;border-bottom:1px solid #94370f;font-size:14px;height:49px;text-align:center;text-transform:uppercase;width:100%}
#nav li ul li.last{-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
#nav li li a{padding:13px 0;width:100%}
#nav li li a:active{padding:15px 0}

#product-boxes{margin-left:5px}
#product-boxes .product{border:1px solid #bfbfbf;border-right:none;display:inline-block;float:left;margin-top:20px;width:289px}
#product-boxes .last{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-left:none;border-right:1px solid #bfbfbf;border-top-right-radius:4px}
#product-boxes .middle{-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;border:1px solid #a14f0e;border-top-left-radius:4px;border-top-right-radius:4px;margin-top:0;width:328px}
#product-boxes h3{background:url(../img/product-boxes-title.png) repeat-x 0 0;border-bottom:1px solid #bfbfbf;color:#414141;font-size:21px;height:42px;margin-bottom:0;padding:13px 0;text-align:center;text-shadow:0 1px 0 #fff;text-transform:uppercase}
#product-boxes h3 span{color:#909090;display:block;font-size:12px}
#product-boxes .middle h3 span{color:#fff;font-size:14px;margin-top:5px}
#product-boxes .last h3{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px}
#product-boxes .middle h3{-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;background:url(../img/product-boxes-title-middle.png) repeat-x 0 0;border-bottom:1px solid #a14f0e;border-top-left-radius:4px;border-top-right-radius:4px;color:#fff;font-size:30px;height:44px;padding:22px 0;text-shadow:0 1px 0 #5e2f1a}
#product-boxes .content{padding:15px}
#product-boxes .content p{color:#333;font-size:12px;margin-bottom:0;text-align:center}
#product-boxes .middle .content{background:#fffdfb}
#product-boxes .buttons{margin-top:15px}
#product-boxes a.button{-moz-border-radius:4px;-webkit-border-radius:4px;background:#c4c4c4 url(../img/button-info.png) repeat-x 0 0;border:1px solid #b8b8b8;border-radius:4px;color:#333;display:block;float:left;font-size:15px;padding:10px;text-align:center;text-shadow:0 1px 0 #ebebeb;width:80px}
#product-boxes a.button:hover{background-position: 0 -43px}
#product-boxes a.button:active{position:relative;top:1px}
#product-boxes a.buy{background:#f85d28 url(../img/button-order.png) repeat-x 0 0;border-color:#a14f0e;color:#fff;margin-left:15px;text-shadow:0 1px 0 #7c3617;text-transform:uppercase;width:120px}
#product-boxes .middle a.buy{width:157px}
#product-boxes .placeholder{color:#c6c6c6;font-size:11px;margin-bottom:15px;text-align:center;text-transform:uppercase}
#product-boxes .first,#product-boxes .first h3{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px}

.domain-form{margin-bottom:20px;margin-left:5px}
.domain-form input.domain{-moz-border-radius-bottomleft:4px;-moz-border-radius-topleft:4px;-webkit-border-bottom-left-radius:4px;-webkit-border-top-left-radius:4px;background:#fff;border:1px solid #bfbfbf;border-bottom-left-radius:4px;border-right:none;border-top-left-radius:4px;color:#888;float:left;font-family:KarlaRegular, sans-serif;font-size:17px;outline:none;padding:19px;width:723px}
.domain-form input.domain:focus{border-color:#9f9f9f;color:#111}
.domain-form input.submit{-moz-border-radius-bottomright:4px;-moz-border-radius-topright:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-top-right-radius:4px;background:#e85d32 url(../img/button-search.png) repeat-x 0 0;border:1px solid #a14f0e;border-bottom-right-radius:4px;border-top-right-radius:4px;color:#fff;cursor:pointer;float:left;font-family:KarlaRegular, sans-serif;font-size:20px;padding:18px 10px;text-shadow:0 1px 0 #75361d;text-transform:uppercase;width:148px}
.domain-form input.submit:hover{background-position: 0 -62px}
.domain-form p{color:#999;display:block;font-style:italic;margin:5px 0 0;text-align:center}

.home-about{margin-left:5px;width:915px}
.home-about .side-text{border-right:1px solid #ddd;float:left;margin-right:20px;padding-right:20px;width:570px}
.home-about .testimonial{float:left;width:300px}
.home-about .testimonial p{font-style:italic;margin-bottom:5px}
.home-about .testimonial span{display:block}

#web-plans{margin-left:5px}
#web-plans .legend{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border:1px solid #bfbfbf;border-top-left-radius:4px;float:left;margin-top:20px;width:218px}
#web-plans .legend h3{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;background:url(../img/product-boxes-title.png) repeat-x 0 0;border-bottom:1px solid #bfbfbf;border-top-left-radius:4px}
#web-plans .legend li{background:#f7f7f7;font-size:17px;padding:14px 15px 13px;text-align:left}
#web-plans .legend li span{color:#a4a4a4;display:block;font-size:11px}
#web-plans .plan{border-bottom:1px solid #bfbfbf;border-top:1px solid #bfbfbf;float:left;margin-top:20px;width:229px}
#web-plans .plan.middle{-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;background:#fffdfb;border:1px solid #a14f0e;color:#a14f0e;margin-top:0}
#web-plans .plan.middle li{border-bottom:1px solid #ecdacc}
#web-plans .plan.last{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border:1px solid #bfbfbf;border-left:none;border-top-right-radius:4px}
#web-plans h3{background:url(../img/product-boxes-title.png) repeat-x 0 0;border-bottom:1px solid #bfbfbf;color:#414141;font-size:21px;height:42px;margin-bottom:0;padding:13px 0;text-align:center;text-shadow:0 1px 0 #fff;text-transform:uppercase}
#web-plans h3 span{color:#909090;display:block;font-size:12px}
#web-plans .middle h3 span{color:#fff;font-size:14px;margin-top:5px}
#web-plans .last h3{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px}
#web-plans .middle h3{-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;background:url(../img/product-boxes-title-middle.png) repeat-x 0 0;border-bottom:1px solid #a14f0e;border-top-left-radius:4px;border-top-right-radius:4px;color:#fff;font-size:30px;height:44px;padding:22px 0;text-shadow:0 1px 0 #5e2f1a}

#web-plans li{border-bottom:1px solid #e5e5e5;font-family:KarlaRegular, sans-serif;font-size:20px;padding:25px 15px;text-align:center}
#web-plans li.last{border-bottom:none;font-size:17px;padding:15px}
#web-plans .legend li.last{height:83px}

#web-plans a.button{-moz-border-radius:4px;-webkit-border-radius:4px;background:#f85d28 url(../img/button-order.png) repeat-x 0 0;border:1px solid #a14f0e;border-radius:4px;color:#fff;display:block;font-size:15px;padding:10px;text-align:center;text-shadow:0 1px 0 #7c3617;margin-top: 15px;}
#web-plans a.button:hover{background-position: 0 -43px}
#web-plans a.button:active{position:relative;top:1px}

#web-plans.minecraft .legend{width:145px}
#web-plans.minecraft .legend li{font-size:14px;padding:15px}
#web-plans.minecraft .plan{border-right:1px solid #bfbfbf;width:152px}
#web-plans.minecraft .plan.middle{border-right:1px solid #a14f0e}
#web-plans.minecraft .plan li{font-size:16px;padding:15px}
#web-plans.minecraft .plan.first{border-right:none}
/*#web-plans.minecraft .yes{margin-top:4px;padding-bottom:3px}*/
#web-plans.minecraft h3{font-size:19px;height:22px;padding:15px 0}
#web-plans.minecraft .middle h3{padding:25px 0}
#web-plans.minecraft .legend h3{font-size:15px;padding-left:15px;padding-right:15px;text-align:left}

#web-plans.dedi{border-bottom:none}
#web-plans.dedi .plan{border-right:1px solid #bfbfbf}
#web-plans.dedi h3{height:auto;padding-left:15px;padding-right:15px}
#web-plans.dedi .first{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-left:1px solid #bfbfbf;border-top-left-radius:4px}
#web-plans.dedi .first h3{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-bottom:1px solid #bfbfbf;border-top-left-radius:4px;text-align:left}
#web-plans.dedi .last h3{border-right:none}

#web-plans.dedi .cpu { width: 215px; }
#web-plans.dedi .ram { width: 120px; }
#web-plans.dedi .storage { width: 190px; }
#web-plans.dedi .traffic { width: 150px; }
#web-plans.dedi .ips { width: 90px; }
#web-plans.dedi .starting { width: 230px; }

#web-plans.dedi .plan li{font-size:17px}
#web-plans.dedi .cpu span{color:#bfbfbf;display:block;font-size:14px}
#web-plans.dedi .cpu li{padding:10px 15px;text-align:left}
#web-plans.dedi li{padding:22px 15px 21px}
#web-plans.dedi a.button{margin-top:0;text-transform:uppercase}
#web-plans.dedi .starting li{padding:10px 15px 11px}

#content {
	width: 100%;
	height: auto;
	margin-top: 25px;
	background-color: white;
	position: relative;
	background: #fff;
}
#content.notop {
	margin-top: 0;
}
#contentContainer {
	width: 920px;
	padding: 20px;
	margin: 0 auto;
	height: auto;
}

.one-half {
	float: left;
	width: 435px;
	height: auto;
	padding-right: 24px;
	border-right: 1px solid #e9e9e9;
}
.one-half.last {
	padding-right: 0;
	padding-left: 25px;
	border-right: none;
}

.one-half p {
	text-align: justify;
}
.seperate {
	width: 100%;
	height: 30px;
}

.one-third {
	float: left;
	width: 273px;
	height: auto;
	padding-right: 24px;
	margin-right: 25px;
	border-right: 1px solid #e9e9e9;
	
}
.one-third.last {
	padding-right: 0;
	margin-right: 0;
	border-right: none;
}
.one-third p {
	margin-bottom: 0;
	text-align: justify;
}


p.viewall {
	margin-bottom: 0;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
}

p.viewall a {
	color: #999;
}
p.viewall a:hover {
	color: #555;
}

.signup {
	width: 100%;
	text-align: center;
	font-family: 'ColaborateThinRegular', sans-serif;
	text-transform: uppercase;
}
.signup .cont {
	width: 455px;
	height: 60px;
	margin: 0 auto;
}
.signup p {
	float: left;
	font-size: 30px;
	position: relative;
	top: 15px;
}
.signup a {
	width: 208px;
	float: left;
	height: 25px;
	color: #fff;
	font-size: 20px;
	padding: 17px 0;
	margin-left: 20px;
	text-shadow: #000 1px 1px 0;
	text-align: center;
	display: block;
	background: url(../img/button-large.png) no-repeat 0 0;
}
.signup a:hover {
	background-position: 0 -58px;
}
.signup a:active {
	position: relative;
	top: 1px;
}

#why-us p, #company p {
	margin-bottom: 0;
}

.vpsSelect {
	width: 920px;
	height: 150px;
	background: url(../img/vps-select.png) no-repeat 0 0;
}
.vpsSelect #slider {
	width: 828px;
	position: relative;
	left: 40px;
	top: 43px;
	padding-top: 5px;
}

.vpsSelect .sliderOverlayContainer {
	width:880px;margin-left:19px;position:relative;
}
.vpsSelect #sliderOverlay {
	background:  url(../img/vps-select-barselected.png) no-repeat 0 0; position:absolute; top:-27px; width: 0;height:27px;
}


.vpsSelect #slider a.ui-slider-handle {
	width: 30px;
	height: 20px;
	display: block;
	cursor: pointer;
	background: url(../img/slider-knob.png) no-repeat 0 0;
	padding: 0;
	border: 0;
	position: absolute; z-index: 2;
	top: -4px; margin-left: -8px;
}
.vpsSelect #slider a.ui-slider-handle:hover, .vpsSelect #slider a.ui-slider-handle:active {
	background-position: 0 -20px;
	
}

.vpsSelect .order {
	width: 193px;
	float: right;
	position: relative;
	top: 72px;
	right: 9px;
}

.vpsSelect .order a {
	color: #fff;
	font-size: 20px;
	padding: 17px 0;
	text-shadow: #000 1px 1px 0;
	text-align: center;
	width: 193px;
	height: 24px;
	display: block;
	font-family: 'ColaborateThinRegular', sans-serif;
	text-transform: uppercase;
	background: url(../img/button-medium.png) no-repeat 0 0;
}
.vpsSelect .order a:hover {
	background-position: 0 -58px;
}
.vpsSelect .order a:active {
	position: relative;
	top: 1px;
}

.vpsSelect .details {
	position: relative;
	top: 75px;
}
.vpsSelect .details li {
	width: 122px;
	float: left;
	padding-top: 21px;
	text-align: center;
	margin-left: 55px;
	line-height:0.9em;
	font-family: 'KarlaBold', sans-serif;
	color: #EC733E;
	font-size: 20px;
	text-shadow: #f8f8f8 1px 1px 0;
}
.vpsSelect .details li .extra {
	font-size: 11px;
	color: #7d7d7d;
	text-transform: uppercase;
	font-family: 'KarlaRegular', sans-serif;
}
.vpsSelect .details .cost {
	color: #66b207;
}

#footer {
	width: 100%;
	height: auto;
	padding: 25px 0;
}
#footerContainer {
	width: 920px;
	height: auto;
	margin: 0 auto;
	padding: 0 20px;
}
#footer .col {
	width: 215px;
	margin-right: 20px;
	float: left;
	
}
#footer .col.last {
	margin-right: 0;
}

#footer h2 {
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #ec733e;
	font-family: 'ColaborateThinRegular', sans-serif;
	text-shadow: #fff 1px 1px 0;
	color: #333;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#footer ul {
	font-size: 11px;
}
#footer li {
	line-height: 1.8em;
	
}
#footer a {
	color: #777;
}
#footer a:hover {
	color: #000;
	text-decoration: none;
}


#footer .legal {
	margin-top: 20px;
	font-size: 11px;
	color: #999;
	float: left;
}
#footer .terms {
	margin-top: 20px;
	font-size: 11px;
	color: #999;
	float: right;
	text-align: right;
}
#footer .terms a {
	color: #999;
}
#footer .terms a:hover {
	color: #000;
	text-decoration: none;
}