button, input[type="submit"], .button {
	display: inline-block;
	color: #fff;
	font: 16px/16px $font-main;
	font-weight: $font-bold;
	text-decoration: none;
	text-transform: uppercase;
	background: $color-green;
	border: none;
	border-radius: 100px;
	padding: 16px 32px;
	cursor: pointer;

	&:hover {
		background: darken($color-green, 6%);
	}
	&.light-green {
		background: $color-green-light;

		&:hover {
			background: darken($color-green-light, 6%);
		}
	}
}