.logo {
	display: inline-block;
	font-size: 26px;
	line-height: 26px;
	font-weight: $font-light;
	text-decoration: none;
	color: #fff;

	&.dark {
		color: $color-main;
	}
}

#header-main {
	padding-bottom: 90px;
	color: #fff;
	background-color: #184E68;
	background-image: -webkit-linear-gradient(314deg, #184E68 0%, #57CA85 100%);
	background-image: -moz-linear-gradient(314deg, #184E68 0%, #57CA85 100%);
	background-image: -o-linear-gradient(314deg, #184E68 0%, #57CA85 100%);
	background-image: linear-gradient(44deg, #184E68 0%, #57CA85 100%);
	position: relative;

	.top {
		padding: 20px 0;
	}
	.map-bg:after {
		width: 650px;
		height: 410px;
		display: block;
		position: absolute;
		top: 30px;
		right: 20px;
		content: '';
		background: url('../images/map.png') 0px 0px/650px 400px no-repeat;
		opacity: 0.8;
	}
}

#cta {
	width: 100%;
	max-width: 670px;
	padding-top: 20px;
	
	h1 {
		font-weight: $font-thin;
		font-size: 52px;
		line-height: 56px;
		text-transform: uppercase;
	}
	h2 {
		margin-top: 20px;
		font-weight: $font-light;
		font-size: 20px;
		line-height: 28px;
	}
	.button {
		margin-top: 30px;
	}
}